<!doctype>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Landing Page - A cool product, comming soon.</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="screen" />
  </head>

  <body>
    <div id="wrap">
      <div class="container">
        <h1>Landing Page</h1>

        <%= yield %>
      </div>
  </body>
</html>
